body {
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
    padding: 0 10px;
}

.expenses-app {
    margin-top: 70px;
}

.expenses-app__title {
    margin-bottom: 41px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.expenses-amount-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.expenses-amount {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.expenses-amount-input {
    display: inline-block;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 32px;
    line-height: 39px;
}

.tl::after {
    content: ' TL ';
    font-size: 32px;
}

.expenses-amount-btn {
    display: inline-block;
    padding: 10px 110px;
    border: unset;
    cursor: pointer;
    background-color: #0094FF;
}

.expenses-amount-btn__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.selection {
    height: 60px;
}

.category-select {
    display: inline-block;
    margin-bottom: 45px;
    display: inline-block;
    border: 1px solid black;
    outline: none;
    width: 488px;
    padding: 10px;
    font-size: 32px;
    line-height: 39px;
}

h2 {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

p, span, div, ol, ul, li {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

ol {
    list-style-position: inside;
}

.expenses-app__content {
    display: flex;
    flex-direction: row;
    gap: 165px;
}

.expenses-app__content-items {
    width: calc(42%);
}

.limit-image{
    padding-left: 10px;
    padding-top: 10px;
    width: 42px;
    height: 42px;
    object-fit: contain;
    cursor: pointer;
}

.sum-title {
    margin-bottom: 35px;
}

.status {
    color: green;
}

.status_red {
    color: red;
}

.clear-button {
    display: inline-block;
    width: 484px;
    padding: 15px;
    border: unset;
    cursor: pointer;
    background: #FF0000;
}

.clear-button__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.history {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.popup {
    display: none;
  }

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: none;
    z-index: 999;
}

.popup-form {
    position: relative;
    width: 991px;
    height: 525px;
    padding: 50px;
}

.popup-title {
    margin-bottom: 150px;
}

.popup-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.popup-close {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 30px;
    height: 30px;
    background-image: url('../styles/close.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: unset;
}

.popup-close-img {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-image: url('../resources/exit-btn.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: unset;
}

.popup-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 22px;
    border: 1px solid black;
}

.popup-input {
    display: inline-block;
    border: none;
    outline: none;
    width: 100%;
    height: 58px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.popup-submit {
    display: inline-block;
    padding: 10px 110px;
    border: unset;
    cursor: pointer;
    background-color: #0094FF;
}

.popup-submit__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}